* {
  box-sizing: border-box
}
/* 
html {
  overflow: hidden;
} */

html,
body,
h1,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: inter, sans-serif;
  font-weight: 400;
  color: #293264;
}

.background {
  background: linear-gradient(225deg, #FFFAD1 0%, #FFFAD1 10%, #F5F7FB 10%, #F5F7FB 90%, #DEEBF8 90%, #DEEBF8 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 16%;
  margin-bottom: 16%;
  padding: 2em;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ==================
  StartPage 
  ==================*/

h1.title {
  font-family: Karla;
  font-weight: 700;
}


.start-container {
  justify-content: center;
  gap: 2em;
}

.btn {
  padding: 1em 3em;
  background: #4D5B9E;
  color: #F5F7FB;
  font-size: 1rem;
  font-weight: 500;
  line-height: 19px;
  border: none;
  border-radius: 1rem;
}

.btn:hover {
  cursor: pointer;
}


/* ==================
  QuestionPage 
  ==================*/

/* .question-section-container {
justify-content: flex-start;
gap: 1em;
} */

.question-container {
  width: 100%;
  padding: 1em 0;
  border-bottom: 1px solid #DBDEF0;
}

.question {
margin-bottom: 1em;
font-family: Karla;
font-weight: 700;
}

.answer-container {
margin-bottom: 1em;
display: flex;
flex-direction: column;
justify-content: space-between;
flex-wrap: wrap;
gap: 1em;
}

.option {
padding: 0.5em 1.5em;
white-space: nowrap;
font-weight: 500;
font-size: 0.75rem;
text-align: center;
border: 1px solid #4D5B9E;
border-radius: 1em;
}

.option:hover {
  cursor: pointer;
}

.check-answer-btn {
margin-top: 1.5em;
}

.footerChecked {
  display: flex;
  justify-content:right;
  align-items: center;
  gap: 2em;
  margin-top: 1.5em;
}

@media (min-width: 768px) {
  .container {
      margin-top: 5%;
      margin-bottom: 5%;
}
}