* {
  box-sizing: border-box
}

html {
  overflow: hidden;
}

html,
body,
h1,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: inter, sans-serif;
  font-weight: 400;
  color: #293264;
  position: relative;
}

.background {
 
  background-color: #F5F7FB;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.container {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container::after {
  position: absolute;
  top: -5em;
  right: -6em;
  content: "";
  width: 18.75em;
  height: 15em;
  background: #FFFAD1;
  transform: rotate(-128.49deg);
  border-radius: 8em;
}

.container::before {
  position: absolute;
  bottom: -4em;
  left: -10em;
  content: "";
  width: 18.75em;
  height: 15em;
  background: #DEEBF8;
  transform: rotate(-128.49deg);
  border-radius: 50%;
}

/* ==================
  StartPage 
  ==================*/

h1.title {
  font-family: Karla;
  font-weight: 700;
}


.start-container {
  justify-content: center;
  gap: 2em;
}

.btn {
  padding: 1.25em 3em;
  background: #4D5B9E;
  color: #F5F7FB;
  font-size: 1rem;
  font-weight: 500;
  line-height: 19px;
  border: none;
  border-radius: 1rem;
}

.btn:hover {
  cursor: pointer;
}


/* ==================
  QuestionPage 
  ==================*/

.question-section-container {
justify-content: flex-start; /* doesn't work */
gap: 1em;
}

.question-container {
  width: 100%;
  padding-bottom: 1em;
border-bottom: 1px solid #DBDEF0;
}

.question {
margin-bottom: 1em;
font-family: Karla;
font-weight: 700;
}

.answer-container {
display: flex;
justify-content: flex-start;
gap: 5em;
}

.option {
margin-bottom: 1em;
padding: 0.5em 1.5em;
font-weight: 500;
font-size: 0.75rem;
text-align: center;
border: 0.794239px solid #4D5B9E;
border-radius: 1em;
}

.option:hover {
  cursor: pointer;
}

.check-answer-btn {
margin-top: 1.5em;
}

.footerChecked {
  display: flex;
  justify-content:right;
  align-items: center;
  gap: 2em;
  margin-top: 1.5em;
}